<div class="group-single">
  <div class="container">
    <div class="col-lg-12">
      <h1 class="group-name">This group is called</h1>
    </div>

    <div class="partial-group">
      <div class="col-lg-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat tincidunt augue, sit amet pulvinar elit dictum ut. Phasellus felis dolor, tristique quis pretium vel, dictum sed velit. Sed vel nibh vel quam euismod aliquam iaculis vitae lorem. Nulla sollicitudin turpis est, ut lacinia ligula dignissim nec. Aenean sagittis iaculis quam, quis elementum nibh lobortis rutrum. Mauris non hendrerit sapien, nec aliquet augue. Ut vitae eros nunc. Fusce a enim sit amet turpis dapibus bibendum quis sed erat. Praesent arcu massa, volutpat at augue a, iaculis volutpat quam. Maecenas id tortor eleifend, sagittis est vel, malesuada orci. Duis a tortor vitae orci tristique dignissim. Nunc bibendum dictum ornare.
        </p>
      </div>

      <div class="col-lg-6">
        <h2>Lorem ipsum</h2>
        <p>
          Proin consequat velit odio, eget viverra erat congue vel. Vestibulum risus mauris, varius non lacus volutpat, gravida lacinia quam. Etiam id mollis urna. Morbi condimentum, nibh sed imperdiet sodales, orci neque gravida nisi, a imperdiet neque est et massa. Donec sed rhoncus metus. Nam dignissim, lorem in posuere lacinia, felis purus ullamcorper libero, vitae suscipit turpis urna in leo. Fusce in tellus tortor. Donec vestibulum eleifend urna, at faucibus orci aliquet ac. Curabitur euismod orci ex, eu convallis dolor molestie eu. Fusce cursus lorem quis enim hendrerit, ut porta augue hendrerit. Aenean eget mi diam. Proin lobortis, augue vitae tempor rhoncus, massa ligula rutrum mi, ac tincidunt dolor massa ac eros. Proin vestibulum aliquet odio. Sed hendrerit purus velit, eget rhoncus arcu congue vitae. Suspendisse tincidunt efficitur nunc, at placerat tortor ultrices eu. Morbi tincidunt, mi vitae imperdiet vehicula, felis enim mollis mi, in iaculis sapien tortor id purus.*
        </p>
      </div>

      <div class="col-lg-6">
        <h2>Lorem ipsum</h2>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec vel pellentesque purus, eu feugiat arcu. Duis et eros vitae elit venenatis varius vitae gravida massa. Nunc auctor nulla placerat, placerat diam ut, consequat ex. Nullam iaculis dolor nunc, commodo fermentum mi ultricies sed. Suspendisse non massa quis turpis vestibulum vestibulum. Quisque quis ultricies tortor. Morbi et urna non ante accumsan mollis. Fusce hendrerit facilisis justo, eget facilisis ipsum aliquet sit amet. Praesent condimentum sagittis auctor. Curabitur eu laoreet ligula.
        </p>
      </div>
    </div>
  </div>
</div>
