<div class="main">
  <div class="main-header push-down">
    <div class="container">
      <div class="inner-content">
        <div class="col-lg-7">
          <h1>Welcome to jsRoute!</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat tincidunt augue, sit amet pulvinar elit dictum ut.
            Phasellus felis dolor, tristique quis pretium vel, dictum sed velit. Sed vel nibh vel quam euismod aliquam iaculis vitae lorem.
            Nulla sollicitudin turpis est, ut lacinia ligula dignissim nec.
          </p>

          <button type="button" name="nextView" class="btn btn-default next-view">Next View</button>
        </div>
      </div>
    </div>
  </div>

  <div class="main-info container-fluid">
    <div class="container">
      <div class="col-lg-4">
        <h2>Lorem ipsum</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat tincidunt augue, sit amet pulvinar elit dictum ut.
          Phasellus felis dolor, tristique quis pretium vel, dictum sed velit.
          Sed vel nibh vel quam euismod aliquam iaculis vitae lorem. Nulla sollicitudin turpis est, ut lacinia ligula dignissim nec.
        </p>
      </div>

      <div class="col-lg-4">
        <h2>Lorem ipsum</h2>

        <p>
          Aenean sagittis iaculis quam, quis elementum nibh lobortis rutrum. Mauris non hendrerit sapien, nec aliquet augue.
          Ut vitae eros nunc. Fusce a enim sit amet turpis dapibus bibendum quis sed erat.
          Praesent arcu massa, volutpat at augue a, iaculis volutpat quam.
        </p>
      </div>

      <div class="col-lg-4">
        <h2>Lorem ipsum</h2>

        <p>
          Proin consequat velit odio, eget viverra erat congue vel. Vestibulum risus mauris, varius non lacus volutpat, gravida lacinia quam. Etiam id mollis urna.
          Morbi condimentum, nibh sed imperdiet sodales, orci neque gravida nisi, a imperdiet neque est et massa. Donec sed rhoncus metus.
        </p>
      </div>
    </div>
  </div>
</div>
